.container-fluid {
    background-color: lightblue;
}

.col-md-3 {
    background: rgb(224, 163, 49);
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-weight: bolder;
    font-size: 20px;
    color: white;
}

#color {
    background: rgb(136, 44, 44);
}

p {
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
}

h2 {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
}

#pic {
    margin-top: 40px;
}

#alert {
    margin-top: 40px;
    text-align: center;
}

#disc {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

img {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.alert {
    text-align: center;
}